.App {
  text-align: center;
  height: 100vh;
  padding-top: 50px;
}
.App.dark-theme {
  background-color: #282c34;
  color: #fff;
}
.weather-cards-light {
  background: linear-gradient(180deg, transparent, #74b3d3) !important;
  box-shadow: inset 0px 0px 20px #74b3d380 !important;
}
.cities{
  text-align: center;
  border-radius: 5px;
}
.cities:focus-visible{
  outline: none;
}
.temp {
  display: flex;
  justify-content: end;
  align-items: stretch;
  flex-direction: column;
  height: 125px;
}
.sky {
  display: flex;
  justify-content: end;
  align-items: stretch;
  flex-direction: column;
  height: 125px;
}
.card-footer {
  font-size: 10px;
}
.card-footer span {
  display: block;
}
.weather-cards {
  background: linear-gradient(180deg, #74b3d3, #263840);
  box-shadow: inset 0px 0px 20px #74b3d380;
}
.weather-cards:nth-child(2) {
  flex: 100% 0;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .App {
    height: 100%;
  }
  .weatherIcon:first-child {
    width: 50px !important;
  }
}
@media (min-width: 992px) {
  .App {
    padding: 25px;
  }
  .weatherIcon:first-child {
    width: 50px !important;
  }
  .weather-cards:nth-child(2) > .row {
    width: 50%;
    margin: auto;
  }
}
